.nav-btn {
  background-color: transparent;
  border: 0;
}

.my-popup {
  display: flex;
}
.popup-container {
  width: 100%;
  height: 100vh;
  background-color: ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .my-popup {
    display: none;
    width: 100%;
    height: 100vh;
  }
  .popup-container {
    display: none;
  }
}

/* * {
  border: 1px solid red;
} */
